@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body, label, input, select, button {
  font-family: 'Poppins', sans-serif;
}

.form-categoria {
  border: solid 1px #1c2c44;
  width: 450px;
  margin-left: 35%;
  margin-top: 2%;
}

.titulo {
  color: #1B2F49       ;
}

.titulo h1 {
  margin-top: 10px;
  margin-left: 20%;
}

.titulo p {
  margin-top: -12px;
  margin-left: 20%;
}

.subtitulos {
  margin-left: 20%;
}

label {
    color: #1B2F49
  }

input {
  width: 90%;
  height:35px;
  margin-top: 2%;
  margin-left: -1%;
  margin-bottom: 5%;
  border-radius: 10px;
}

select {
   width: 90%;
  height:35px;
  margin-top: 2%;
  margin-left: -1%;
  margin-bottom: 5%;
  border-radius: 10px;
}

.btn {  
  width: 90%;
  margin-top: 2%;
  margin-left: 0%;
  margin-bottom: 5%;
  background: #1c2c44;
  color: #ffffff;
  border-radius: 10px;
  padding-top: 5%;
  padding-bottom: 5%;
  display: block;
}
